<ion-view cache-view="false" class= "{{color}}" title="{{r.name}}">
  <div class="bar bar-subheader">
    <button ng-show="showReorderButton()" ng-init="showReorder = false" class="button button-outline ion-navicon button-stable" ng-click="reorder();"></button>
    <h4 class="title">{{r.exercises.length}} exercise(s)</h4>
    <button on-tap="addExercise(r.id, false)" class="button button-icon icon ion-android-add-circle"></button>
  </div>
    <ion-content padding="'true'" class="has-header" style="PADDING-TOP: 45px">
      <h5 style="font-family: 'mvboli'" align="center" ng-if="r.description != null">{{r.description}}</h5>
      <ion-list show-reorder="showReorder">
            <ion-item on-tap="viewExercise($index, r.id, exercise.timer); $event.stopPropagation();" ng-repeat="exercise in r.exercises" style="font-size: 15px">{{exercise.name}}
              <ion-option-button class="button-energized" on-tap="editExercise($index, r.id, r.alternate);  $event.stopPropagation();">Edit</ion-option-button>
              <ion-option-button class="button-assertive" on-tap="r.exercises.splice($index, 1); clearCache();  $event.stopPropagation();">Delete</ion-option-button>
              <span ng-if="exercise.weight != null" style="float:right; font-size: 14px">{{exercise.weight}} lbs</span>
              <ion-reorder-button class="ion-navicon" on-reorder="moveItem(exercise, $fromIndex, $toIndex); clearCache()"></ion-reorder-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
